<ion-header>
  <ion-toolbar>
    <ion-title>
      Bluetooth Terminal
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Connection
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <ion-button expand="block" color="primary" id="btnOpenBluetooth" (click)="openBluetooth()">Open Bluetooth Settings</ion-button>

    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Transmit/Receive</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-textarea placeholder="Message..." id="textbox"></ion-textarea>
      <ion-button color="tertiary" expand="block" (click)="sendText()">Send Text</ion-button>
      <ion-button color="secondary" expand="block" (click)="receiveText()">Receive Text</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
